*.so
**.o
*.o
*.hex

**/OBJ/*
/c8t6-demo/OBJ
rct6-first/OBJ
/c8t6-demo/OBJ/*
rct6-first/OBJ/*

*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.uvguix
*.dbg*
*.uvguix.*
.mxproject
 
RTE/
Templates/
Examples/
 
!*.uvprojx
!*.h
!*.c
!*.ioc
!*.axf

**/*.o
*.axf
*.crf